@media (max-width: 720px) {
  section {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
  }

  //   .card {
  //     width: 10rem !important;
  //   }
}

section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  margin: 0 auto;
}

.notice {
}
