@media (max-width: 720px) {
    section {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)) !important;
    }
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10px;
    margin: 0 auto;
}

.cta {
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 30px;
    width: 4rem;
    border-radius: 50%;
}

.action {
    display: inline-flex;
    font-size: 1.5rem;
    color: #e83e8c;
    margin-bottom: 1rem;
    justify-content: space-evenly;
}

.pend {
    text-align: center;
    color: red;
}
